/* @media screen and (min-width:768px) {
  
} */

*,
*::after,
*:before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  background: linear-gradient(to right, #807ece 0%, #8e7ece 100%);
}
img {
  margin: 0;
}
/* Container */
.container {
  margin: 3rem auto;
  padding: 5rem 2rem;
  border-radius: 4.8rem;
  max-width: 300px;
  background-color: #2d2a37;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 188px 52px 0px rgba(0, 0, 0, 0.01),
    0px 120px 48px 0px rgba(0, 0, 0, 0.04),
    0px 68px 41px 0px rgba(0, 0, 0, 0.15), 0px 8px 17px 0px rgba(0, 0, 0, 0.29),
    inset 0px 6px 8px 0px rgba(0, 0, 0, 0.1),
    inset 0px -4px 5px 0px rgba(0, 0, 0, 0.22);
}
@media screen and (min-width: 768px) {
  .container {
    margin: 3rem auto;
    max-width: 400px;
  }
}
/* grid */
.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 3fr;
  row-gap: 1.4rem;
  align-items: center;
  justify-items: center;
}
@media screen and (min-width: 768px) {
}
/* Input */
.input {
  text-align: right;
  padding-right: 3rem;
}
.input__preview {
  color: #6b6b6b;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.input__line {
  color: #fff;
  font-size: 3.6rem;
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 768px) {
}

/* Button */
.btn {
  text-align: center;
  height: 6rem;
  width: 6rem;
  font-size: 2.5rem;
  border: none;
  border-radius: 50%;
  color: #ebebeb;
  background: linear-gradient(
    rgba(0, 0, 0, 0.05) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  box-shadow: 0px 11px 7px 0px rgba(0, 0, 0, 0.01),
    0px 7px 7px 0px rgba(0, 0, 0, 0.04), 0px 4px 6px 0px rgba(0, 0, 0, 0.1),
    0px 2px 4px 0px rgba(0, 0, 0, 0.26),
    inset 0px 0px 2px 0px rgba(0, 0, 0, 0.29),
    inset 0px 2px 3px 0px rgba(0, 0, 0, 0.06);
}

.btn--primary {
  background-color: #2d2a37;
}
.btn--primary:hover {
  background-color: #19171e;
}
.btn--primary:active {
  background-color: #4c485c;
}

.btn--secondary {
  background-color: #462878;
}
.btn--secondary:hover {
  background-color: #2c1454;
}
.btn--secondary:active {
  background-color: #6f3ac9;
}
.btn--primary.btn--ce {
  color: #975dfa;
}
.btn--primary.btn--ce:active {
  color: #ebebeb;
}
@media screen and (min-width: 768px) {
  .btn {
    height: 7.5rem;
    width: 7.5rem;
    font-size: 2.7rem;
  }
}
